<div class="container">
    <h1 class="text-center display-3">{{title}}</h1>
    <nav class="nav justify-content-center">
        <li class="nav-item">
           <a routerLink="/dashboard" class="h2">Dashboard</a>
        </li>
        <li class="nav-item">
           <a routerLink="/hero"class="h2">Heroes</a>
        </li>   
    </nav>
    <router-outlet></router-outlet>
</div>