    <h3 class="text-center">Top Heroes</h3>
    <div class="row">
        <div  class="col-4" *ngFor = "let hero of heroes">
            <a  [routerLink]="['/detail', hero.id]" >
                <div class="module hero">
                    {{hero.name}}
                </div>
            </a>
        </div> 
    </div>
