
    <h3 class="text-center">My Heroes</h3>
    <div class="list-group">
      <a *ngFor = "let hero of heroes"
         class="list-group-item"
         [class.active]="hero === selectedHero"
         (click) = "onSelect(hero)"
      >
        <span class="label label-info">
          {{hero.id}}
        </span> 
          {{hero.name}}
      </a>
    </div>
    <div *ngIf = "selectedHero">
      <h3>
        {{selectedHero.name | uppercase}} is my hero
      </h3>
      <button (click)="gotoDetail()" class="btn-lg">View Details</button>
    </div>
