<div *ngIf = "hero">
  <h3>{{hero.name}} details!</h3>
  <div>
     <label for="">id: </label> {{hero.id}}
  </div>
  <div>
    <label for="name">name:</label>
    <input class="form-control" type="text"
       name="name" [(ngModel)]="hero.name"
       placeholder="name"
    >
  </div>
  <button (click)="goBack()"class="btn">Back</button>
</div>